 
body {
  width: 960px;

  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: url("dynamic-style.png");
  font-size: 18px;
  line-height: 150%;
  
  
}
header {
    height: 80px;
    background: #ffffff;
    margin-left:40px;
    margin-right:80px;
    border-bottom-color: #c73232
    
}
 
 
  h1 {
    
    background-color: #4aaaa5;
    text-align: center;
    margin-left:40px;
   


    display: inline;
  }
    h2{
        text-align: left;
    }

     
  
  .links {
     font-size: 15px;
     float: right;
     text-align: center;
     margin-right:80px;
  }
   
.container {
width: 495px;
background: ffffff;
text-align: center;
margin: auto auto;
  }
    

 img {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float: left;
 
    
      
    }
p {
     
    color: #777777;
    background-color: ffffff;
    display: inline;
    margin-left: 40px;
    
    
    
     
}
/* sticky footer   left: 0;
*/
footer {
    position: fixed;
    text-align: center;
    width: 860px;
    background-color: #666666;
    margin-left:40px;
 
    bottom: 0;
   
   
}
 